# Miscellaneous
*.tar
*.zip
*.gzip
*.rar
*.swp
*.swo
*.tmp
*.bak
*.log
*.backup
*.bkp
*.old
*.orig
.env
.env.*
*.secret
*.secrets
*.key
*.pem
*.envrc
tmp/
temp/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class
.venv/
env/
venv/
ENV/
*.egg-info/
.eggs/
build/
dist/
develop-eggs/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.tox/
.mypy_cache/
.coverage
coverage.xml
*.cover
.hypothesis/

# Jupyter/ML
.ipynb_checkpoints/
.mlflow/
data/
*.h5
*.hdf5
*.db

# Ansible
.ansible/
.cache/
.vagrant/
*.retry
vault.*
*.vault_pass.txt
roles/*/molecule/
molecule/
test/inventory/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json

# Docker (build artefacts)
*.img
*.pid
*.sock

# Node/JS (если есть фронт/линтеры)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.iml
out/

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
